body {
  background-color: teal;
  padding: 3%;
}

img.notes{
  display: block;
  margin: auto;
}

section.good-play {
	display: inline-block;
  vertical-align: top;
  border: solid;
  width: 40%;
  height: 300px;
  margin: 2% 0% 0% 0%;
  padding: .5%;
}
