/*nav bar styling*/
h2.table {
  margin: 0% 25%;
}

nav.menu ul {
  position: fixed;
  top: 0;
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #A1CEA3;
}

nav.menu li{
  float: left;
}

nav.menu li {
  display: block;
  font-family: helvetica;
  font-size: 1.5em;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none
}

nav.menu li a:hover{
  background-color: pink;
}

nav.menu li a:visited{
  color: purple;
}

main.content{
  margin: 67px;
}
/*body styling*/

body {
  margin: 0;
  background-image: url("http://az616578.vo.msecnd.net/files/2017/01/16/636201270729141317554774038_magic%20music2.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

section.parent{
  display: flex;
  list-style: none;
  margin: 0 37% 0 0;
}

.child-one{
  background-color: #B4E0AF;
  z-index: -1;
  opacity: .85;
  -webkit-flex-grow: 2;
  -webkit-flex-shrink: 2;
  -webkit-flex-basis: 10em;
  margin: .5% 1% 0 0;
  float: left;
  border: solid;
  padding: .5%;
}

.child-two{
  -webkit-flex-grow: 2;
  -webkit-flex-shrink: 2;
  -webkit-flex-basis: 10em;
  background-color: #B4E0AF;
  opacity: .85;
  z-index: -1;
  margin: .5% 0 0 0;
  float: left;
  border: solid;
  padding: .5%;
}


.flex{
}

/*.clearfix {
  clear: both;
}*/

p.heavy {
  width: 40%;
  padding: 2%;
}


section.music-table{
  display: flex;
  list-style: none;
  margin: 1%;
}

section.music-intro{
  display: flex;
  list-style: none;
  margin: 1% 50% 0 10%;
}
p.p-table{
  -webkit-flex-grow: 2;
  -webkit-flex-shrink: 2;
  -webkit-flex-basis: 10em;
  background-color: #CF9FCF;
  border: solid;
  border-width: 2px;
  padding: .5%;
  opacity: .85;
  margin: .5% 0 0 13%;
}

table#table{
  -webkit-flex-grow: 2;
  -webkit-flex-shrink: 2;
  -webkit-flex-basis: 10em;
  background-color: #CF9FCF;
  margin: 1% 20% 0 3%;
  opacity: .85;
  z-index: -1;
}

@media (max-width: 500px){
  p {
    font-size: .7em;
  }
  li {
    font-size: .7em;
  }
}
