/*nav bar styling*/

h3 {
  margin: 9% 0 0 0; } 
nav.menu ul {
  position: fixed;
  top: 0;
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #A1CEA3;
}

nav.menu li{
  float: left;
}

nav.menu li {
  display: block;
  font-family: helvetica;
  font-size: 1.5em;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none
}

nav.menu li a:hover{
  background-color: pink;
}

nav.menu li a:visited{
  color: purple;
}

main.content{
  margin: 67px;
}
/*body styling*/

body {
  margin: 0;
  background-image: url("http://az616578.vo.msecnd.net/files/2017/01/16/636201270729141317554774038_magic%20music2.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

section.parent{
  display: flex;
  list-style: none;
}

.child-one{
  -webkit-flex-grow: 2;
  -webkit-flex-shrink: 2;
  -webkit-flex-basis: 10em;
  margin: .5% 10% 0 0;
  float: left;
  border: solid;
  padding: .5%;
}

.flex{
  width: 40%;
}

/*.clearfix {
  clear: both;
}*/

p.heavy {
  width: 40%;
  padding: 2%;
}


section.music-table{
  margin: 1%;
}

section.music-table p{
  width: 40%;
}

table#table{
  background-color: #B0D9AF;
  margin: 0px 220px 0px;
  opacity: .85;
}

@media (max-width: 500px){
  p {
    font-size: .7em;
  }
}
